main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  min-width: 800px;
  height: 95%;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveBanner 1.5s;/*recebendo o keyframe*/
}

@keyframes moveBanner {/*Esse keyframe é para dar uma animação de subir no banner com as imagens (no caso é a div container) da página index.html*/
  0% {
    opacity: 0.7;
    transform: translateY(20rem) rotateY(90deg);
  }
  100% {
    transform: scale(1);
    transform: translateY(0) rotateY(0);
  }
}

.card {
  width: 18%;
  height: 100%;
  padding: 0px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 90%;
}

.card_down {
  align-items: end;
}
