main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /*width: 60%;*/
  min-width: 800px;
  /*height: 60vh;*/
  height: 470px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 22%;
  height: 100%;
  padding: 0px;
  margin: 0px 3px;
  border: 4px solid white;
}

.card_direita {
  animation: moveCardDireita 0.7s;/*recebendo o keyframe*/
}

.card_esquerda {
  animation: moveCardEsquerda 0.7s;/*recebendo o keyframe*/
}

@keyframes moveCardDireita {/*Esse keyframe é para dar uma animação de subir no banner com as imagens (no caso é a div container) da página index.html*/
  0% {
    opacity: 0.4;
    transform: translateX(-40rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveCardEsquerda {/*Esse keyframe é para dar uma animação de subir no banner com as imagens (no caso é a div container) da página index.html*/
  0% {
    opacity: 0.5;
    transform: translateX(40rem);
  }
  100% {
    transform: scale(1);
    transform: translateX(0);
  }
}

.card img {
  width: 100%;
  height: 100%;
}