* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 23vh;
  min-height: 173px;
  /*height: 155px;*/
  background-color: rgb(227,227,227); /*Coloquei background-color apenas para caso a div logo não cubra todo o espaço e assim evite erro*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100%;
  height: 100%; /*Dessa forma ocupará o espaço inteiro ao ajuste do menu, não deixando espaço sobrando*/
  /*height: 136px;*/
  background-color: rgb(227,227,227);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_logo {
  height: 90%;
}

nav {
  width: 100%;
  /*height: 30%;*/
  /*height: 7vh;*/
  /*height: 60px;*/
  background-color: rgb(251,251,251);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 980px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu li {
  letter-spacing: 3px;
  padding: 16px 60px;
  margin: 0 2px;
  transition: 0.3s;
}

.menu li:hover {
  height: 100%;
  background-color: #CFA883;
}

.menu a {
  font-size: 1.28rem;
  color: #2D2D2D;
}

.menu a:hover {
  color: #FBFBFB;
}

.btn_ativo {
  color: #FFFFFF;
  background-color: #886337;
}

main {
  height: 63vh;
  min-height: 475px;
  background-color: rgb(227,227,227);
}

footer {
  height: 14vh;
  min-height: 94px;
  background-color: rgb(227,227,227);
}

.footer_author {
  height: 8vh;
  min-height: 54px;
  background-color: rgb(251,251,251);
  color: #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 80%;
}




@media screen and (max-width: 1024px) {
  /*Diminuir o menu*/
  html {
    font-size: 57%;
  }

  .menu li {
    letter-spacing: 2.5px;
    padding: 16px 40px;
  }
}

@media screen and (max-width: 768px) {
  /*Diminuir o menu e imagem*/
  html {
    font-size: 57%;
  }

  .menu li {
    letter-spacing: 2px;
    padding: 16px 30px;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 50%;
  }

  .menu li {
    letter-spacing: 2px;
    padding: 16px 16px;
  }

  .img_logo {
    width: 260px;
    height: 100px;
  }
}

@media screen and (max-width: 428px) {
  html {
    font-size: 45%;
  }

  .menu li {
    letter-spacing: 1px;
    padding: 16px 16px;
  }

  .img_logo {
    width: 200px;
    height: 80px;
  }
}