/*Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --text-main: ubuntu, sans-serif;
  --text-color-primary: #2D2D2D;
  --text-color-secundary: #FBFBFB;
  --font-size-html: 62.5%;
  --font-size-body: 1.6rem;
  --background-primary: rgb(227, 227, 227);
  --background-secundary: rgb(251, 251, 251);
  --btn-background-secundary: #CFA883;
  --btn-background-active: #886337;

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: var(--font-size-html);
}

body {
  background-color: var(--background-primary);
  font-size: var(--font-size-body);
  font-family: var(--text-main);

  min-height: 100vh;
  height: 100vh;

  display: grid;
  grid-template-areas: "header header header"
    "nav      nav    nav"
    "main   main   main"
    "footer footer footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 120rem auto;
}

/* INÍCIO HEADER */
.header {
  background-color: var(--background-primary);
  grid-area: header;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.container__logo:hover .imageLogo {
  animation: expand 1s ease infinite;
}

.container__logo:hover .logo__text {
  animation: expand 1s ease infinite;
}


.logo__text {
  color: var(--text-color-primary);
  font-size: 2.2rem;
}

.logo__img>img {
  height: 100px;
}

/* INÍCIO HEADER */


/* INÍCIO NAV */
.menu {
  background-color: var(--background-secundary);
  grid-area: nav;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;

  padding: 2px 0;
}

.menu a {
  border-radius: 0.2rem;
  color: var(--text-color-primary);
  letter-spacing: 3px;
  padding: 12px 60px;
  transition: all 0.4s;
}

.menu a:hover {
  background-color: var(--btn-background-secundary);
  color: var(--text-color-secundary);
}

.menu .btn_ativo {
  background-color: var(--btn-background-active);
  color: var(--text-color-secundary);
}

/* FIM NAV */

/* INÍCIO MAIN */
.main {
  background-color: var(--background-primary);
  grid-area: main;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.container__banner {
  height: 460px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner {
  cursor: pointer;
  transition: all 0.4s;
}

.banner:hover {
  animation: upBanner 0.4s;
}

.banner img {
  height: 440px;
  width: 180px;
  border: 6px solid white;
  border-radius: 0.2rem;
}

/* FIM MAIN */

/* INÍCIO FOOTER */
.footer {
  background-color: var(--background-secundary);
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-bottom: 40px;
}

.footer_author {
  color: var(--text-color-primary);
  font-size: 1.8rem;
}

.footer_author>img {
  height: 45px;
}

/* FIM FOOTER */



/* INÍCIO KEYFRAMES */
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes upBanner {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes changeColorText {
  0% {
    color: #886337;
  }

  100% {
    color: black;
  }
}